.select-container {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
    min-width: 120px;

    .input-container {
        position: relative;
        color: rgba(0, 0, 0, 0.87);
        cursor: text;
        display: inline-flex;
        position: relative;
        font-size: 1rem;
        box-sizing: border-box;
        align-items: center;
        font-weight: 400;
        line-height: 1.1876em;
        letter-spacing: 0.00938em;

        &::before {
            left: 0;
            right: 0;
            bottom: 0;
            content: "\00a0";
            position: absolute;
            transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-bottom: 1px solid rgba(0, 0, 0, 0.42);
            pointer-events: none;
        }

        &::after {
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            position: absolute;
            transform: scaleX(0);
            transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
            border-bottom: 2px solid #1976d2;
            pointer-events: none;
        }

        .native-select {
            padding-right: 24px;
            cursor: pointer;
            min-width: 16px;
            border-radius: 0;
            -moz-appearance: none;
            -moz-user-select: none;
            user-select: none;
            -webkit-appearance: none;

            font: inherit;
            color: currentColor;
            width: 100%;
            border: 0;
            height: 1.1876em;
            margin: 0;
            display: block;
            padding: 6px 0 7px;
            padding-right: 0px;
            min-width: 0;
            background: none;
            box-sizing: content-box;
            animation-name: mui-auto-fill-cancel;
            letter-spacing: inherit;
            animation-duration: 10ms;
            -webkit-tap-highlight-color: transparent;

            &:focus {
                outline: 0;
            }
        }

        .select-icon {
            top: calc(50% - 12px);
            color: rgba(0, 0, 0, 0.54);
            right: 0;
            position: absolute;
            pointer-events: none;

            fill: currentColor;
            width: 1em;
            height: 1em;
            display: inline-block;
            font-size: 1.5rem;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-shrink: 0;
            -moz-user-select: none;
            user-select: none;
        }
    }
}