#__outer_container__ {
  position: relative;

  #__pdf_viewer_container__ {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    inset-inline-start: 0;
  }

  #__sidebar__ {
    inset-inline-start: calc(-1 * var(--sidebar-width));
  }

  #__sidebar__,
  #__pdf_viewer_container__ {
    transition-property: inset-inline-start;
    transition-duration: var(--sidebar-transition-duration);
    transition-timing-function: var(--sidebar-transition-timing-function);
  }

  &.sidebar-visible {
    #__pdf_viewer_container__ {
      inset-inline-start: var(--sidebar-width);
    }

    #__sidebar__ {
      inset-inline-start: 0;
    }
  }
}

#__print_container__ {
  display: none;
  text-align: center;

  .print-item {
    text-align: center;
  }
}

@media print {
  @page {
    margin: 0;
    padding: 0;
  }

  body {
    &>div {
      display: none;
    }

    #__print_container__ {
      display: block;
      text-align: center;
    }

    .print-item {
      page-break-after: always;
      page-break-inside: avoid;

      /* The wrapper always cover the whole page. */
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        /* The intrinsic canvas / image size will make sure that we fit the page. */
        max-width: 100%;
        max-height: 100%;
      }
    }

  }
}