.toolbar {
  font-size: 14px;
  height: 48px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  .toolbar-left {
    display: flex;
    flex: 1;

    .sidebar {
      &::before {
        -webkit-mask-image: var(--toolbarButton-sidebarToggle-icon);
        mask-image: var(--toolbarButton-sidebarToggle-icon);
      }
    }

    .search {
      &::before {
        -webkit-mask-image: var(--toolbarButton-search-icon);
        mask-image: var(--toolbarButton-search-icon);
      }
    }

    .previous {
      &::before {
        -webkit-mask-image: var(--toolbarButton-pageUp-icon);
        mask-image: var(--toolbarButton-pageUp-icon);
      }
    }

    .next {
      &::before {
        -webkit-mask-image: var(--toolbarButton-pageDown-icon);
        mask-image: var(--toolbarButton-pageDown-icon);
      }
    }

    .page-input-wrapper {
      display: flex;
      align-items: center;

      & input {
        height: 28px;
        padding: 2px 4px;
        border-radius: 2px;
        outline: none;
        border: 1px solid rgba(187, 187, 188, 1);
        text-align: right;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        &[type="number"] {
          -moz-appearance: textfield;
        }
      }
    }
  }

  .toolbar-center {
    display: flex;
    flex: 1;
    justify-content: center;

    .zoom-button-wrapper {
      display: flex;
      align-items: center;
    }

    .zoom-out {
      &::before {
        -webkit-mask-image: var(--toolbarButton-zoomOut-icon);
        mask-image: var(--toolbarButton-zoomOut-icon);
      }
    }

    .zoom-in {
      &::before {
        -webkit-mask-image: var(--toolbarButton-zoomIn-icon);
        mask-image: var(--toolbarButton-zoomIn-icon);
      }
    }

    .divider {
      display: inline-block;
      margin: 4px 0;
      width: 1px;
      height: 20px;
      background-color: var(--separator-color);
    }

    .scale-wrapper {
      background-color: #fff;
      box-shadow: 0px 4px 8px 0px rgba(32, 69, 162, 0.12),
        0px -1px 6px 0px rgba(32, 69, 162, 0.12);
    }

    .scale-reference {
      font-size: 12px;
      width: 140px;
      padding: 0px 6px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: start;
      cursor: pointer;
      background-color: var(--dropdown-btn-bg-color);
      position: relative;

      &:hover {
        background-color: var(--button-hover-color);
      }
    }

    .scale-option {
      text-align: left;
      font-size: 12;
      padding: 2px 6px;
      cursor: pointer;

      &:hover {
        background-color: bisque;
      }
    }

    .select-icon {
      top: calc(50% - 10px);
      color: rgba(0, 0, 0, 0.54);
      right: 4px;
      position: absolute;
      pointer-events: none;

      fill: currentColor;
      width: 20px;
      height: 20px;
      display: inline-block;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      -moz-user-select: none;
      user-select: none;
    }
  }

  .toolbar-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    .open {
      &::before {
        -webkit-mask-image: var(--toolbarButton-openFile-icon);
        mask-image: var(--toolbarButton-openFile-icon);
      }
    }

    .print::before {
      -webkit-mask-image: var(--toolbarButton-print-icon);
      mask-image: var(--toolbarButton-print-icon);
    }

    .download::before {
      -webkit-mask-image: var(--toolbarButton-download-icon);
      mask-image: var(--toolbarButton-download-icon);
    }

    .draw::before {
      -webkit-mask-image: var(--toolbarButton-editorInk-icon);
      mask-image: var(--toolbarButton-editorInk-icon);
    }
  }

  .common-button {
    display: inline-block;
    user-select: none;
    min-width: 16px;
    border: none;
    border-radius: 2px;
    color: var(--main-color);
    padding: 2px 6px 0;
    width: 28px;
    height: 28px;
    background: none;
    position: relative;

    & + .common-button {
      margin-left: 8px;
    }

    &:focus {
      outline: none !important;
    }

    &:hover {
      background-color: rgba(221, 222, 223, 1);
    }

    &.active {
      background-color: var(--toggled-btn-bg-color);
      color: var(--toggled-btn-color);
    }

    &.has-before {
      &::before {
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        content: "";
        background-color: var(--toolbar-icon-bg-color);
        -webkit-mask-size: cover;
        mask-size: cover;
        opacity: var(--toolbar-icon-opacity);
        top: 6px;
        left: 6px;
      }
    }

    .button-label {
      display: inline-block;
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
}
