.toolbar {
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   position: sticky;
  //   top: 0;
  //   z-index: 1;
  background-color: white;

  .toolbar-left {
    display: flex;
    flex: 1;

    .page-input-wrapper {
      display: flex;
      align-items: center;

      & input {
        height: 28px;
        padding: 2px 4px;
        border-radius: 2px;
        outline: none;
        border: 1px solid rgba(187, 187, 188, 1);
        text-align: right;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        &[type="number"] {
          -moz-appearance: textfield;
        }
      }
    }
  }

  .toolbar-center {
    display: flex;
    flex: 1;
    justify-content: center;

    .zoom-button-wrapper {
      display: flex;
      align-items: center;
    }

    .zoom-button {
      display: inline-block;
      user-select: none;
      min-width: 16px;
      border: none;
      border-radius: 2px;
      color: var(--main-color);
      padding: 2px 6px 0;
      width: 28px;
      height: 28px;
      background: none;
      position: relative;

      &:hover {
        background-color: var(--button-hover-color);
      }

      .zoom-label {
        display: inline-block;
        width: 0;
        height: 0;
        overflow: hidden;
      }

      &::before {
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        content: "";
        background-color: var(--toolbar-icon-bg-color);
        -webkit-mask-size: cover;
        mask-size: cover;
        opacity: var(--toolbar-icon-opacity);
        top: 6px;
        left: 6px;
      }
    }

    .zoom-out {
      &::before {
        -webkit-mask-image: var(--toolbarButton-zoomOut-icon);
        mask-image: var(--toolbarButton-zoomOut-icon);
      }
    }

    .zoom-in {
      &::before {
        -webkit-mask-image: var(--toolbarButton-zoomIn-icon);
        mask-image: var(--toolbarButton-zoomIn-icon);
      }
    }

    .divider {
      display: inline-block;
      margin: 4px 0;
      width: 1px;
      height: 20px;
      background-color: var(--separator-color);
    }
  }

  .toolbar-right {
    display: flex;
    flex: 1;
  }

  .common-button {
    background-color: transparent;
    border: none;
    padding: 6px 8px;
    margin-left: 8px;
    border-radius: 4px;

    &:first-child {
      margin-left: 0;
    }

    &:focus {
      outline: none !important;
    }

    &:hover {
      background-color: rgba(221, 222, 223, 1);
    }
  }
}
